:root {
    --primary-bg: #C7F9CC;
    --secondary-bg: #80ED99;
    --primary-txt: #22577A; 
    --border: #57CC99;
    --inter: "Inter", sans-serif;
    --libre: "Libre Baskerville", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html {
    height: 100%;
}

h1 {
    font-family: var(--libre);
    font-size: clamp(1.1rem, 2vw, 2.5rem)
}

h2 {
    font-family: var(--libre);
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: left;
}

a {
    color: var(--white);
}

q {
    text-decoration: italic;
}

.input_container {
    display: flex;
    gap: 0.5rem;
    position: relative;

}

input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

#add {
    padding: 0.5rem;
}

input::placeholder {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-family: monospace;
}

.btn {
    background-color: var(--secondary-bg);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: clamp(0.7rem, 2vw, 3rem);
    padding-right: clamp(0.7rem, 2vw, 3rem);
    border-radius: 0.6rem;
    border: none;
    color: var(--primary-txt);
    font-size: 0.8rem;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    outline: 1px solid var(--primary-txt);
}

#today_page {
    background-color: var(--primary-bg);
    border: 1px solid var(--border);
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-txt);
    font-family: var(--inter);
    padding: 1rem;
}

.main_container {
    background-color: var(--secondary-bg);
    min-height: 100%;
    border-radius: 2rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--border);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.content_container {
    background-color: var(--primary-bg);
    flex-grow: 1;
    border-radius: 1.5rem;
    padding: 0.4rem 0.5rem;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: space-between;
}

nav {
    background-color: var(--secondary-bg);
    padding: 0.3rem;
    border-radius: 0.9rem;
    max-width: 340px;
    overflow-x: auto;
    margin: 0 auto;
    display: flex;
    border: 1px solid var(--border);

}

.nav_container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


main {
    display: flex;
    align-items: flex-start;
    max-width: 768px;
    margin: 0 auto;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}






.left {
    flex-grow: 1;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    min-height: 100%;
    width: 100%;
}

.left_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.center {
    width: 100%;
    display: none;
    padding: 2rem 0;
}

.center_container {
    width: 100%;
}

.right {
    width: 100%;
    display: none;
    padding: 2rem 0;

}

.right_container {
    width: 100%;
}

.active {
    display: flex;
}

.remove {
    display: none;
}

