* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #C0D7BB;
    --black: #2F4B26;


    
}

body, html {
    height: 100%;
    /* background-color: #646464; */
    font-family:Arial, Helvetica, sans-serif;
}

body {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-family: monospace
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    background-color: var(--black);;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid rgb(143, 143, 143); */
}

ul li {
    list-style: none;
}

h1 {
    color: #28AFB0;
    font-family: monospace;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

h2 {
    /* color: #fff; */
    font-family: monospace;
    font-size: 1rem;
}

.input_container {
    display: flex;
    gap: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    /* background-color: #4f4f4f;
    color: #fff; */
    font-size: 1rem;
    /* border: 1px solid rgb(143, 143, 143); */
}

input::placeholder {
    /* color: #fff; */
    font-size: 1rem;
    font-family: monospace;
}

button {
    font-size: clamp(0.5rem, 2vw, 1rem);
    /* background-color: #4f4f4f; */
    /* border: 1px solid rgb(143, 143, 143);
    color: #fff; */
    cursor: pointer;
}

button:hover {
    /* background-color: #f4f4f4;
    color: var(--black);; */
    translate: transform()
}

ul {
    /* background-color: #4f4f4f; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    /* border: 1px solid rgb(143, 143, 143); */

}

ul li {
    /* background-color: var(--black);;
    color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;

    white-space: pre;
    overflow-x: auto;
}

.button-wrapper {
    display: flex;
    gap: 0.5rem;
    overflow-x: unset;
}

.Dark {
    background-color: var(--white);;
    color: var(--black);;
}

.Light {
    background-color: var(--black);;
    color: var(--white);
}

.Dark li {
    border: 1px solid var(--black);
}

.Light li {
    border: 1px solid var(--white);
}

.Dark section .container {
    background-color: var(--white);
    /* border: 1px solid var(--black); */
}

.Light section .container {
    background-color: var(--black);
    /* border: 1px solid var(--white); */
}

.Dark button {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.Light button {
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
}

.Light input {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}

.Dark input {
    background-color: var(--white);
    color: var(--black);;
    border: 1px solid var(--black);;
}

.Light #theme-switcher {
    background-color: var(--white);;
    color: var(--black);;
}

.Dark #theme-switcher {
    background-color: var(--black);;
    color: var(--white);;
}

.Light input::placeholder {
    color: var(--black);; 
}

.Light input::placeholder {
    color: var(--white); 
}