* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #C0D7BB;
    --black: #2F4B26;
}

body, html {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-family: monospace
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    background-color: var(--black);;
    padding: 20px;
    width: 100%;
    max-width: 1024px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul li {
    list-style: none;
}

h1 {
    color: #28AFB0;
    font-family: monospace;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

h2 {
    color: #28AFB0;
    font-family: monospace;
    font-size: clamp(1rem, 2vw, 1.5rem);

}

.input_container {
    display: flex;
    gap: 0.5rem;
    position: relative;

}

input {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
    font-size: clamp(0.8rem, 2vw, 1rem);

}

#add {
    position: absolute;
    right: 0;
}

input::placeholder {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-family: monospace;
}

button {
    font-size: clamp(0.8rem, 2vw, 1rem);
    cursor: pointer;
    padding: 0.5rem 1rem;
}

button:hover {
    background-color: var(--white);
    color: var(--black);
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    position: relative;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    white-space: pre;
    overflow-x: auto;
    padding: 0.5rem;
      /* For Firefox */
    /* scrollbar-width: none; */
  /* For WebKit browsers (Chrome, Safari) */
    /* &::-webkit-scrollbar {
        display: none;
    } */
  /* For Internet Explorer/Edge */
    /* -ms-overflow-style: none; */
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    position: absolute;
    right: 0;
}



.Dark {
    background-color: var(--white);;
    color: var(--black);;
}

.Light {
    background-color: var(--black);;
    color: var(--white);
}

.Dark li {
    border: 1px solid var(--black);
}

.Light li {
    border: 1px solid var(--white);
}

.Dark section .container {
    background-color: var(--white);
}

.Light section .container {
    background-color: var(--black);
}

.Dark button {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.Dark button:hover {
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
}

.Light button {
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
}

.Light button:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.Light input {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}

.Dark input {
    background-color: var(--white);
    color: var(--black);;
    border: 1px solid var(--black);;
}

.Light #theme-switcher {
    background-color: var(--white);;
    color: var(--black);;
}

.Dark #theme-switcher {
    background-color: var(--black);;
    color: var(--white);;
}

.Light input::placeholder {
    color: var(--black);; 
}

.Light input::placeholder {
    color: var(--white); 
}